node_modules

.env
txt.txt
/generated/prisma
prisma/migrations
dist
__practice__
__test__
__TEST__
SOCKET_API_INTEGRATION_COMPLETE.md
SOCKET_IMPLEMENTATION_GUIDE.md
SOCKET_FIXES_SUMMARY.md
uploads
call-demo.html
build
backups